# text files
*.json  text    working-tree-encoding=UTF-8 eol=lf
*.ts    text    working-tree-encoding=UTF-8 eol=lf
*.js    text    working-tree-encoding=UTF-8 eol=lf
*.mjs   text    working-tree-encoding=UTF-8 eol=lf
*.cjs   text    working-tree-encoding=UTF-8 eol=lf
*.md    text    working-tree-encoding=UTF-8 eol=lf

.gitattributes text working-tree-encoding=UTF-8 eol=lf
.gitignore     text working-tree-encoding=UTF-8 eol=lf
